[Desktop Entry]
Version=1.0
Name=beezy
GenericName=beezy
Comment=Privacy blockchain
Icon=beezy
Terminal=true
Type=Application
Categories=Qt;Utility;
Name[en_US]=beezy
MimeType=x-scheme-handler/beezy;

